@charset "UTF-8";
@font-face {
  font-family: 'Roboto Medium';
  src: url("/assets/fonts/Roboto-Medium.eot");
  /* IE9 Compat Modes */
  src: url("/assets/fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Roboto-Medium.woff") format("woff"), url("/assets/fonts/Roboto-Medium.ttf") format("truetype"), url("/assets/fonts/Roboto-Medium.svg#9e4baab57ed09c2dd1f3a56f2a128453") format("svg");
  /* Legacy iOS */ }
img, p, ul, li, h3, h4, div, #wrapper {
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0; }

.auto-overflow {
  overflow: auto; }

.hidden-overflow {
  overflow: hidden; }

.grey {
  background-color: #ebebeb; }

p, h3, li {
  Font-family: ‘Helvetica Neue’, ‘Helvetica’, Arial, sans-serif;
  color: #1b336f; }

h4 {
  font-style: normal;
  font-weight: 400;
  color: #1b336f;
  font-family: 'Roboto Medium'; }

.float-l {
  float: left; }

.float-r {
  float: right; }

.width-class1 {
  width: 42.5%; }

.width-class2 {
  width: 50%; }

.width-class3 {
  width: 100%;
  height: auto; }

#wrapper {
  margin: 0 auto;
  max-width: 1024px; }

#header {
  margin: 0 auto;
  max-height: 228px;
  max-width: 80%;
  margin-bottom: 3%;
  margin-top: 3%; }

.top-left-div, #left-mid-div, #bottom-left-div, .grey-background-div, #bottom-right-div {
  margin: 0 3% 3% 5%; }
  .top-left-div h3, #left-mid-div h3, #bottom-left-div h3, .grey-background-div h3, #bottom-right-div h3 {
    font-weight: normal;
    font-size: 95%;
    margin-bottom: 10%; }
  .top-left-div p, #left-mid-div p, #bottom-left-div p, .grey-background-div p, #bottom-right-div p {
    font-size: 75%;
    margin: 2% 0 0 0; }

#top-right-div, #message-board-img {
  background-color: #446a7f;
  font-size: 68%;
  margin: 0 2% 3% 0; }
  #top-right-div h4, #message-board-img h4 {
    padding: 5% 0 0 5%;
    color: #fff; }
  #top-right-div ul, #message-board-img ul {
    padding-bottom: 5%; }
  #top-right-div ul li, #message-board-img ul li {
    margin: 2% 5% 0 10%;
    color: #fff; }

#video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  clear: both;
  margin-bottom: 2%; }

#video-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#center-grey-div {
  clear: both;
  margin: 3% 0 3% 0; }

#message-board-img {
  margin-top: 1%;
  background-color: #fff; }
  #message-board-img img {
    max-width: 95%; }

.grey-background-div, #bottom-right-div {
  margin: 0; }

#bottom-right-div p, #bottom-right-div h4 {
  max-width: 95%; }

.grey-background-div img {
  padding: 10% 10% 10% 5%; }
.grey-background-div h4 {
  padding: 9% 5% 2% 5%;
  margin-left: 10%; }
.grey-background-div p {
  margin: 0 5% 0 15%; }

.p2 {
  padding: 2% 0 10% 0; }

#footer {
  background-color: #163d80;
  margin-bottom: 2%; }
  #footer img {
    background-repeat: no-repeat;
    padding: 2%; }

@media screen and (max-width: 650px) {
  .float-r, .float-l {
    float: none; }

  .auto-overflow {
    overflow: hidden; }

  .width-class2, .width-class1 {
    width: 100%; }

  .top-left-div, #left-mid-div, #bottom-left-div, .grey-background-div, #bottom-right-div {
    margin: 2% 0 2% 0; }
    .top-left-div h3, #left-mid-div h3, #bottom-left-div h3, .grey-background-div h3, #bottom-right-div h3, .top-left-div h4, #left-mid-div h4, #bottom-left-div h4, .grey-background-div h4, #bottom-right-div h4 {
      font-weight: normal;
      font-size: 95%;
      margin: 0 0 2% 2.5%; }
    .top-left-div p, #left-mid-div p, #bottom-left-div p, .grey-background-div p, #bottom-right-div p {
      font-size: 75%;
      margin: 0 auto;
      max-width: 95%; }

  #message-board-img img {
    max-width: 100%; }

  .grey-background-div img {
    padding: 0 0 0 2.5%;
    max-width: 95%; }
  .grey-background-div h4, .grey-background-div p {
    margin: 0 0 2% 2.5%;
    padding: 0; }

  .p2 {
    padding: 0; }

  #footer img {
    float: right; } }

/*# sourceMappingURL=style.css.map */
